@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

li {
  list-style: none;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  max-inline-size: 100%;
}

/**************************************** 
  Body - Grid Layout & Styling
*****************************************/
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: grid;
  grid-template: 1fr 7fr / 1fr 6fr;
}

header {
  grid-area: 1 / 2 / 2 / 3;
}

aside {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #1892d3;
}

main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #e1e8f0;
  display: grid;
  grid-template: 1fr 3fr / 2.5fr 1fr;
  gap: 20px;
}

/**************************************** 
        Nav - Layout & Styling
*****************************************/
.nav {
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  gap: 2rem;
}

.search-bar {
  padding-left: 2.5%;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar > form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.search-bar > form > input {
  padding: 10px;
  background-color: #e1e8f0;
  border: 0;
  border-radius: 1cap;
  width: 80%;
}

.user-area {
  width: 100%;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.user-area > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.user-area > ul > li > h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.nav-icon {
  width: 25px;
  height: 25px;
}

.profile-picture-icon {
  width: 75px;
  height: 75px;
  border-radius: 5cap;
}

.profile-picture-icon:hover {
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.7);
}

.user-greeting {
  padding-left: 2.5%;
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.user-greeting > h2 {
  font-weight: bold;
}

.nav-options {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #1892d3;
  border: 0;
  border-radius: 2cap;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-button:hover {
  background-color: #0b72aa;
}

.nav-button:active{
  transform: translateY(2px);
}

/**************************************** 
      Sidebar - Layout & Styling
*****************************************/
.sidebar {
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: self-start;
  align-items: center;
  gap: 5rem;
}

.sidebar-content > a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-content:hover {
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.55);
}

.sidebar-content-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.logo > img {
  width: 50px;
  height: 50px;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**************************************** 
    Project Feed - Layout & Styling
*****************************************/
.project-feed-container {
  grid-area: 1 / 1 / 3 / 2;
}

.project-feed-title {
  padding: 25px 0 0 25px;
  font-size: 1.5rem;
  font-weight: 500;
}

.project-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
  gap: 10px;
  padding: 20px 0 0 20px;
}

.project-card {
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 1cap;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 1fr 70fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.project-card > h2 {
  padding-left: 15px;
  padding-top: 15px;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.project-card > p {
  padding-left: 15px;
  padding-right: 15px;
  grid-area: 2 / 2 / 3 / 3;
}

.card-menu {
  grid-area: 3 / 2 / 4 / 3;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.feed-menu-icon {
  height: 25px;
  width: 25px;
}

.card-color {
  grid-area: 1 / 1 / 4 / 2;
  background-color: #f9cc14;
  border-radius: 1cap;
}

/**************************************** 
    Announcement Feed - Layout & Styling
*****************************************/
.announcement-feed-container {
  grid-area: 1 / 2 / 2 / 3;
  padding: 25px 25px 0 0;
  color: #000000;
}

.announcement-title {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 20px;
}

.announcement-feed {
  background-color: #ffffff;
  border-radius: 1cap;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.announcement-card {
  color: #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.announcement-card:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.announcement-card > h4 {
  font-weight: bold;
}

/**************************************** 
    Trending Feed - Layout & Styling
*****************************************/
.trending-feed-container {
  grid-area: 2 / 2 / 3 / 3;
  padding: 25px 25px 0 0;  
}

.trending-title {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.trending-feed {
  padding: 25px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 1cap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trending-card > div > h4 {
  font-weight: bold;
}

.trending-card {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  gap: 15px;
}

.trending-card:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.trending-card:hover {
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.55);
}